<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895329760771-9mpfgc1vu78aa8fkb3d704ndvfd1qmaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895329760771-9mpfgc1vu78aa8fkb3d704ndvfd1qmaa</string>
	<key>API_KEY</key>
	<string>AIzaSyDyLOP_F7iESpHCj0L3WOOlFrnjoMb98cQ</string>
	<key>GCM_SENDER_ID</key>
	<string>895329760771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeremyfeiwang.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-3f0c1</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-3f0c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895329760771:ios:b9c8662ada494408a24036</string>
</dict>
</plist>